# nginx proxy address - http://172.17.0.1:59338

name: uvdesk
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: nuttcorp/uvdesk:latest
    restart: always
    pull_policy: always
    tty: true
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      MYSQL_USER: ${DB_USER_NAME:-uvdesk}
      MYSQL_PASSWORD: ${DB_USER_PASS:-changeme_db_password}
      MYSQL_ROOT_PASSWORD: ${DB_ADMIN_PASS:-changeme_admin_password}
      MYSQL_DATABASE: uvdesk
    ports:
      - '172.17.0.1:59338:80'
    depends_on:
      - db
  db:
    image: 'mysql:5.7'
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      MYSQL_USER: ${DB_USER_NAME:-uvdesk}
      MYSQL_DATABASE: uvdesk
      MYSQL_PASSWORD: ${DB_USER_PASS:-changeme_db_password}
      MYSQL_ROOT_PASSWORD: ${DB_ADMIN_PASS:-changeme_admin_password}
    volumes:
      - './rootfs/db/mysql:/var/lib/mysql'
